
.bg-dark{ background-color:black !important ;
    color: white !important}

.bg-dark-2{ background-color:rgba(70,70,70) !important ;
    color: whitesmoke !important}

.bg-primary{   background-color:rgb(48,48,48) !important ;
    color: rgb(242, 242, 242) !important; }

.bg-secundary{   background-color:rgb(100, 100, 100) !important ;
    color: black  !important}


.bg-light {background-color:rgb(205, 237, 237) !important;
color:black !important }


.carousel-item img{border-radius:10px ;}

.card{ 
    margin: 5px;
    padding: 2px;
    width: 18rem;
}
.card img{
border-radius: 5px;}

.card a {
    color: #001c3a;
    
  }
  
.card a:hover {
    color: #003b7b;
  }
 
.table-dark {
    margin: 1rem !important;
    padding: .5rem !important;
    border-radius: .2rem !important;
}

.show {
    display: block ; 
    padding-right: 17px;
}

.hide{
    display: none;
}